   body {
    background-color: black; /* Make the entire body black */
    margin: 0; /* Remove default body margins */
    padding: 0; /* Remove default body padding */
  }
  
  .projects {
    margin: 50px auto; /* Adjust margin for top and centering */
    text-align: center;
    max-width: 800px; /* Adjust max-width as needed */
  }
  
  .projects h2 {
    font-size: 3rem;
    margin-bottom: 90px;
  }
  
  .projects-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four columns, equal width */
    gap: 30px; /* Adjust gap between cards as needed */
  }
  
  .project-card {
    background-color: white; /* Set background color of cards to white */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    color: #333; /* Adjust text color for cards if needed */
  }
  
  .project-card:hover {
    transform: translateY(-5px);
  }
  
  .project-card h3 {
    margin-bottom: 10px;
  }
  
  .github-button {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #333; /* Adjust text color for buttons if needed */
    font-weight: bold;
    transition: color 0.2s ease-in-out;
  }
  
  .github-button i {
    margin-right: 5px;
    font-size: 18px;
  }
  
  .github-button:hover {
    color: #007bff;
  }
  
  /* FontAwesome Icon (you might need to include FontAwesome CSS) */
  .fab.fa-github {
    color: #4d4d4d;
  }
  .project-card-image {
    width: 100px; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
    margin-bottom: 10px; /* Optional margin below image */
    border-radius: 5px; /* Optional rounded corners for image */
  }
  