body {
    margin: 0;
    padding: 0;
    font-family: sans-serif; 
    background-color: #f0f0f0; 
  }
  
  .education {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    padding: 320px;
    grid-gap: 20px; 
  }
  
  .education h2 {
    grid-column: span 2;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: -150px;
    font-size: 3rem;
  }
  
  .education-container {
    grid-column: 1; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    grid-gap: 50px;
    margin-left: 350px; 
  }
  
  .school-box,
  .college-box {
    padding: 5px;
    border: 5px solid #ddd;
    border-radius: 10px;
    background-color: grey; 
    margin-bottom: 10px;
    width: 100%;
  }
  
  .school-box h3,
  .college-box h3 {
    font-size: 20px;
  }
  .school-box p,
  .college-box p {
    font-size: 16px;
 }

  @media (max-width: 768px) {
    .education {
      grid-template-columns: 2fr; 
    }
  
    .profile-image {
      margin-top: 1rem; 
    }
  }
  