.content {
    color: white;
    display: flex;
    flex-direction: column;
    max-height: 50vh;
    justify-content: center; 
    align-items: center; 
    /* padding-top: 4rem; */
  }
  
  .typing-effect {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 4rem;
  }
  
.centered-text {
    position: absolute;
    text-align: center;
    margin-top: -300px;
    font-size: 30px;
}
.icon-container {
  display: flex;
  justify-content: space-between; 
  margin-top: 40px; 
}

.icon-container a {
  margin: 0 10px; 
}

.icon {
  width: 500px;
  height: 500px; 
  border-radius: 50%;
  background-color: white;
  display: flex; 
  align-items: center;
  justify-content: center;
}

